@import "../../styles/variables.css";

.svg {
    width: 100%;
}

.valuePath {
    fill: var(--primary-color);
}

.valuePathWarning {
    fill: var(--warning-color);
}

.valuePathError {
    fill: var(--error-color);
}

.levelMarker {
     fill: none;
     stroke: rgba(40, 40, 40, 0.35)
}

.levelText {
    font-size: .85em;
}

.valueText {
    font-size: 1.35em;
}

.unitText {
    fill: var(--secondary-text-color);
    font-size: 1em;
    text-transform: uppercase;
}