:root {
    --body-bg: #efefef;

    --primary-color: #5cb85c;
    --error-color: #b85c5c;
    --warning-color: #b8a45c;

    --text-color: #333;
    --secondary-text-color: #777;

    --navbar-bg: var(--primary-color);
    --navbar-height: 56px;

    --sidemenu-bg: #3a4651;
    --sidemenu-width: 230px;

    --font-base-family: "Roboto";
    --font-base-size: 14px;
    --font-base-color: var(--text-color);

    --border-base-radius: 4px;

    --padding: 15px;
    --margin: var(--padding);

    --padding-lg: 20px;
    --margin-lg: var(--padding-lg);

    --padding-sm: 10px;
    --margin-sm: var(--padding-sm);

    --padding-xs: 5px;
    --margin-xs: var(--padding-xs);
}