@import "../variables.css";

body {
    font-family: var(--font-base-family);
    font-size: var(--font-base-size);
    color: var(--font-base-color);
    background-color: var(--body-bg);
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: disabled;
}